
@page "/"
@using System.Text.Json;
@inject HttpClient httpClient

<h3>Risultati della richiesta HTTP:</h3>

@if (responseData != null)
{
    <ul>
        @foreach (var item in responseData)
        {
            <li>@item</li>
        }
    </ul>
}
else
{
    <p>Nessun risultato disponibile.</p>
}

@code {
    private string[] responseData;

    protected override async Task OnInitializedAsync()
    {
        httpClient = new();
        // Esempio di richiesta GET a un URL
        var response = await httpClient.GetAsync("https://jsonplaceholder.typicode.com/posts");

        if (response.IsSuccessStatusCode)
        {
            // Se la richiesta ha avuto successo, leggi il contenuto
            var content = await response.Content.ReadAsStringAsync();

            // Esempio di deserializzazione JSON (puoi usare qualsiasi libreria JSON, come System.Text.Json o Newtonsoft.Json)
        }
        else
        {
            // Se la richiesta non ha avuto successo, gestisci l'errore
            responseData = null;
        }
    }
}
